* {
    font-family: monospace;
}

body {
    margin: 0;
    background: #111;
    color: whitesmoke;
}

h1 {
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {display: hidden;}

@media (max-width: 900px) {
    .buttons {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .button {
        background: #333;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
}

@media all and (display-mode: fullscreen) {
    .header {display: none;}
    .buttons {display: none;}
}

/* .hide {display: none;} */