* {
    font-family: monospace;
}

body {
    margin: 0;
    background: #111;
    color: whitesmoke;
}

.container {
    margin-bottom: 100px;
}

.header {
    margin-bottom: 10px;
}

.canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

.buttons {
    display: hidden;
}

@media (max-width: 900px) {
    .buttons {
        display: grid;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .button {
        background: #333;
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .container {
        margin-bottom: 0;
    }
}

@media all and (display-mode: fullscreen) {
    .header {
        display: none;
    }

    .buttons {
        display: none;
    }
}

/* .hide {display: none;} */