html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
#canvas1 {
    position: absolute;
    background: linear-gradient(0deg, #f5f4eb -15%, #b0a9de 20%, #9ec2e8 25%, #7664fe 70%, #453e78 90%, #191028 110%); 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}